$primary-font	: 'Poppins', sans-serif;

$color-primary	: #8f9e9c82;
$color-black    : rgb(0,0,0);
$color-background: rgb(4,9,30);
$color-grey-dark: #222222;
$color-grey-light: #777777;
$color-grey-lighter: #d7d7d7;
$text-color		: #a8a8a8;
$border-bottom  : #cbcbcb;
$button-shadow  : (0 .5rem 1rem rgba($border-bottom, 0.8));

$color-white    : #fff;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-horizontal: 3rem;