.search-dropdown {
    position: absolute;
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);    
    width: 80%;
    z-index: 10;
    background-color: transparent; 

    &__list {
        border: 1px solid #ccc;
        border-radius: 1.5rem;
        box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
        background-color: #fff;
        position: relative;
        z-index: 12;
    }

    &__item {
        border-radius: 1.5rem;

        &:hover {
            background-color: #ced3de;
        }

        & a,
        & a:link,
        & a:visited {
            display: block;
            font-size: 1.4rem;
            font-weight: bolder;
            color: black;
            padding: .5rem;
        }
    }

    & p {
        border-radius: 1.5rem;
        box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
        background-color: #fff;
        position: relative;
        z-index: 12;

        &:hover {
            background-color: #ced3de;
        }

        & a,
        & a:link,
        & a:visited {
            display: block;
            padding: .7rem;
            font-size: 1.6rem;
            font-weight: bolder;
            color: #4180E7;
        }
    }

}