$primary-font	: 'Poppins', sans-serif;

$color-primary	    : #8f9e9c;
$color-black        : rgb(0,0,0);
$color-green        :  rgb(74, 220, 98);
$color-background   : rgb(4,9,30);
$color-grey-dark: #222222;
$color-grey-light: #777777;
$color-grey-lighter: #f7f3f3;
$text-color		: #a8a8a8;
$border-bottom  :rgb(226, 218, 218);
$button-shadow  : (0 .5rem 1rem rgba($border-bottom, 0.8));
$button-color-1: #00AEA9;
$button-color-2: #8DC63F;
$button-color-3: #006EB0;
$button-color-4: #E23D96;

$color-white    : #fff;

$default-font-size: 1.6rem;

$grid-width: 114rem;