.events-section {
  width: 55%;
  line-height: normal;
  color: #333;
}
.navbar__listZ {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}


.navbar__item__button {
 background-color: #4eb5f1;
 padding:0.3em 1.2em;
 border-radius: 2em;
 text-transform: uppercase;
}

.navbar__item__button:hover {
  opacity: 0.5
}

.eventArticle {
  display: flex;
  // border: 1px solid;
  height: 230px;
  width: 100%;
  margin-bottom: 10px;
}

.event-photo, .event-container {
  width: 50%;
  height: 100%;
  margin-left:8px
}


.event-photo__img {
  max-width: 100%;
  height: 100%;
  display: block;
  margin: auto
}


// .event-container, .event-container__desc, .event-container__eventInfo, .event-container__footer {
//   margin-top: 5px;
// }

.event-container__header {
  text-align: center;
  width: 100%;
}

.event-container__header h4 {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.event-container__desc {
  overflow: hidden;
  height: 40%;
}

.event-container__desc-seeMore {
  color: blue;
}

.event-container__eventInfo  {
  display: flex;
  justify-content: space-between;

}

// .event-container__eventInfo p {
//   margin-left: 15px;
//   margin-right:  15px;
// }

.event-container__joinButton {
  display: block;
  width: 60px;
  background-color: #4ef18f;
  border-radius: 2em;
}

.event-container__footer {
  display: flex;
  justify-content: space-between;
}

// .event-container__footer-date {
//   margin-left: 10px;
//   margin-right: 10px;
// }
