.events-section {
  width: 57%;
  line-height: normal;
  color: #333;

  &__navbar {
    margin-bottom: 5rem;
  }
}
.navbar__listZ {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}


.navbar__item__button {
 padding: 1rem 2rem;
 border: 0;
 border-bottom: 3px solid rgb(6, 123, 196);
 border-radius: 2em;
 text-transform: uppercase;
}

.navbar__item__button:disabled {
 background-color: #e2129d;
 // font-weight: bold;
 color: black;
}

.navbar__item__button:hover {
  opacity: 0.5
}

.eventArticle {
  display: flex;
  // border: 1px solid;
  height: 230px;
  width: 100%;
  margin-bottom: 10px;
}

.event-photo, .event-container {
  width: 50%;
  height: 100%;
  margin-left:8px
}

.event-container {
  margin-right: 40px;
}

.event-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-photo__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  // vertical-align: middle;
  margin: auto auto;
}


.event-container__header, .event-container__desc, .event-container__eventInfo {
  border-bottom: 1px solid lightgray;
}

.event-container__header {
  text-align: center;
  width: 100%;
}

.event-container__header h4 {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.event-container__desc {
  overflow: hidden;
  height: 40%;
}

.event-container__desc-seeMore {
  color: blue;
}

.event-container__eventInfo  {
  display: flex;
  justify-content: space-between;

}

// .event-container__eventInfo p {
//   margin-left: 15px;
//   margin-right:  15px;
// }

.event-container__joinButton {
  display: block;
  width: 60px;
  background-color: #4ef18f;
  border-radius: 2em;
}

.event-container__footer {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
}

.event-type {
  transform: rotate(-90deg);
  border: 1px solid;
}
